@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: box-sizing;
}
.background {
  background-image: url("./assets/images/background.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pagination li {
  background-color: gray;
  border-radius: 50%;
}

.pagination li a {
  font-size: 18px;
  font-weight: 600;
  width: 45px;
  color: rgba(0, 0, 0, 0.793);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.pagination .active {
  background-color: white;
  border-radius: 50%;
}

.navbar_container {
  background-image: linear-gradient(
      41deg,
      rgba(107, 107, 107, 0.04) 0%,
      rgba(107, 107, 107, 0.04) 8%,
      rgba(31, 31, 31, 0.04) 8%,
      rgba(31, 31, 31, 0.04) 100%
    ),
    linear-gradient(
      9deg,
      rgba(228, 228, 228, 0.04) 0%,
      rgba(228, 228, 228, 0.04) 62%,
      rgba(54, 54, 54, 0.04) 62%,
      rgba(54, 54, 54, 0.04) 100%
    ),
    linear-gradient(
      124deg,
      rgba(18, 18, 18, 0.04) 0%,
      rgba(18, 18, 18, 0.04) 37%,
      rgba(233, 233, 233, 0.04) 37%,
      rgba(233, 233, 233, 0.04) 100%
    ),
    linear-gradient(
      253deg,
      rgba(201, 201, 201, 0.04) 0%,
      rgba(201, 201, 201, 0.04) 55%,
      rgba(47, 47, 47, 0.04) 55%,
      rgba(47, 47, 47, 0.04) 100%
    ),
    linear-gradient(
      270deg,
      rgba(172, 172, 172, 0.04) 0%,
      rgba(172, 172, 172, 0.04) 33%,
      rgba(26, 26, 26, 0.04) 33%,
      rgba(26, 26, 26, 0.04) 100%
    ),
    linear-gradient(
      64deg,
      rgba(11, 11, 11, 0.04) 0%,
      rgba(11, 11, 11, 0.04) 38%,
      rgba(87, 87, 87, 0.04) 38%,
      rgba(87, 87, 87, 0.04) 100%
    ),
    linear-gradient(
      347deg,
      rgba(199, 199, 199, 0.04) 0%,
      rgba(199, 199, 199, 0.04) 69%,
      rgba(4, 4, 4, 0.04) 69%,
      rgba(4, 4, 4, 0.04) 100%
    ),
    linear-gradient(
      313deg,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 20%,
      rgba(91, 91, 91, 0.04) 20%,
      rgba(91, 91, 91, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
}

@media only screen and (max-width: 500px) {
  .pagination {
    gap: 10px;
  }

  .pagination li a {
    width: 38px;
    height: 38px;
    font-size: 14px;
  }
}
